@{
    ViewData["Title"] = "Home Page";
}
<br /><br /><br /><br /><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <br /> 
            <h1 style="margin-left:10%">Welcome to the Digital Wind Tunnel </h1>
        </div>
        <div class="col-md-6" style="text-align:right">
            <h4>
                Centre for Computational Engineering Sciences<br />
                School of Aerospace, Transport and Manufacturing<br />
                Cranfield University<br />
            </h4>
        </div>
    </div>

    <hr />
    <br />
    
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <img src="~/images/home_image.jpg" class="img-thumbnail"/>
        </div>
    </div>
</div>



